 
 <div class="md:bg-gray-100 dark:bg-gray-800 py-8 px-2 ml-[70px]">
    @if (charecterData) {
        <div class="flex flex-col md:flex-row gap-6 ">
            <div >
                <div class="h-[460px] rounded-lg bg-gray-300 dark:bg-gray-700 mb-4">
                    <img class="w-full h-full object-cover" src={{charecterData.image}} alt="Product Image">
                </div>
               
            </div>
            <div class="md:flex-1 ">
                <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">{{charecterData.name || "Not Added"}}</h2>
             
                <div class="flex mb-4">
                    <div class="mr-4">
                        <span class="font-bold text-gray-700 dark:text-gray-300">Gender: </span>
                        <span class="text-gray-600 dark:text-gray-300">{{charecterData.gender || "Not Added"}}</span>
                    </div>
                    <div>
                        <span class="font-bold text-gray-700 dark:text-gray-300">Species: </span>
                        <span class="text-gray-600 dark:text-gray-300">{{charecterData.species || "Not Added"}}</span>
                    </div>
                </div>
                <div class="flex mb-4">
                    <div class="mr-4">
                        <span class="font-bold text-gray-700 dark:text-gray-300">Status: </span>
                        <span class="text-gray-600 dark:text-gray-300">{{charecterData.status || "Not Added"}}</span>
                    </div>
                    <div>
                        <span class="font-bold text-gray-700 dark:text-gray-300">Type: </span>
                        <span class="text-gray-600 dark:text-gray-300">{{charecterData.type || "Not Added"}}</span>
                    </div>
                </div>
                <div class="flex mb-4">
                    <div class="mr-4">
                        <span class="font-bold text-gray-700 dark:text-gray-300">Status: </span>
                        <span class="text-gray-600 dark:text-gray-300">{{charecterData.location.name || "Not Added"}}</span>
                    </div>
                     
                </div>
                <div>
                    <span class="font-bold text-gray-700 dark:text-gray-300">Description:</span>
                    <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                        sed ante justo. Integer euismod libero id mauris malesuada tincidunt. Vivamus commodo nulla ut
                        lorem rhoncus aliquet. Duis dapibus augue vel ipsum pretium, et venenatis sem blandit. Quisque
                        ut erat vitae nisi ultrices placerat non eget velit. Integer ornare mi sed ipsum lacinia, non
                        sagittis mauris blandit. Morbi fermentum libero vel nisl suscipit, nec tincidunt mi consectetur.
                    </p>
                </div>
            </div>
        </div>
      }
       
    
</div>