<div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <img class="rounded-t-lg w-full" src={{item.image}} alt={{item.name}} />
    <div class="p-5 flex flex-col gap-8">
        <h6 class="text-xl font-bold tracking-tight text-black dark:text-white">{{cutText(item.name)}}</h6>
        <div>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex gap-1 items-center "><span
                    class="font-bold">Status:</span> <span>{{beautifulText(item.status)}}</span></p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex gap-1 items-center "><span
                    class="font-bold">Species:</span> <span>{{beautifulText(item.species)}}</span></p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex gap-1 items-center "><span
                    class="font-bold">Gender:</span> <span>{{beautifulText(item.gender)}}</span></p>
        </div>

        <a routerLink='/charecters/{{item.id}}'
            class="inline-flex items-center justify-center relative px-3 py-2 text-sm font-medium text-white bg-blue-500 hover:bg-blue-700 text-white rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2 absolute left-5 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
            <span>Details</span>
        </a>
    </div>
</div>